/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("../../static/img/mongolid-header.png"), linear-gradient(to right, #f8f8f8 25%, #e3e3e3, #f8f8f8 78%);
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  color: #6f4e38;
  background-position: top;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
